.cover-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.breadcrumb {
    margin-bottom: 0px;
}
hr {
    margin-top: 0px;
}

.blue-background {
    background-color:#337AB7; 
    color:#FFFFFF;
}

.warning-row {
    background-color:#FFCCCC;
}

.valid-row {
    background-color:#CCFFCC
}

.green-font {
    color:#009900;
}

.red-font {
    color:#990000;
}

.buttonColumn {
        width: 230px;
}